html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin-top: 3rem; }

.l-wrap {
  max-width: 1140px;
  margin-right: 4.21%;
  margin-left: 4.21%; }
  .l-wrap::after {
    content: "";
    clear: left;
    display: block; }
  @media (min-width: 1200px) {
    .l-wrap {
      margin-left: auto;
      margin-right: auto; } }

.l-main-content::after {
  content: "";
  clear: left;
  display: block; }
.l-main-content .l-menu {
  width: 37.5%;
  float: left; }
  @media (min-width: 700px) {
    .l-main-content .l-menu {
      width: 50%;
      float: left; } }
  @media (min-width: 1200px) {
    .l-main-content .l-menu {
      width: 12.5%;
      margin-left: 12.5%; } }
.l-main-content .l-title {
  width: 62.5%;
  float: right; }
  @media (min-width: 700px) {
    .l-main-content .l-title {
      width: 37.5%; } }
  @media (min-width: 1200px) {
    .l-main-content .l-title {
      width: 25%; } }
.l-main-content .l-content {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px; }
  @media (min-width: 700px) {
    .l-main-content .l-content {
      width: 75%;
      margin-top: 25%;
      font-size: 48px;
      line-height: 64px; } }
  @media (min-width: 1200px) {
    .l-main-content .l-content {
      width: 50%;
      margin-top: 12.5%;
      font-size: 48px;
      line-height: 64px;
      margin-left: 25%;
      margin-right: 25%; } }

.menu {
  width: 3em;
  height: 3em;
  background: #ffff00;
  position: relative; }
  .menu .bit-1::before {
    content: '';
    left: 0.5em;
    top: 0.5em;
    position: absolute;
    width: 1em;
    transform-origin: left bottom;
    height: 0.3em;
    background: #202020;
    transition: transform 0.3s, top 0.3s; }
  .menu .bit-1::after {
    content: '';
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    transform-origin: right bottom;
    height: 0.3em;
    background: #202020;
    transition: transform 0.3s, top 0.3s; }
  .menu .bit-2 {
    position: absolute;
    width: 2em;
    top: 50%;
    left: 50%;
    height: 0.3em;
    background: #202020;
    transform: translate(-50%, -50%);
    transition: transform 0.3s 0.3s, width 0.3s 0.6s; }
  .menu .bit-3::before {
    content: '';
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 1em;
    transform-origin: left top;
    height: 0.3em;
    background: #202020;
    transition: transform 0.3s, bottom 0.3s; }
  .menu .bit-3::after {
    content: '';
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    width: 1em;
    transform-origin: right top;
    height: 0.3em;
    background: #202020;
    transition: transform 0.3s, bottom 0.3s; }

.menu.open .bit-1::before {
  top: 0.4em;
  width: 1.2em;
  transform: rotate(45deg);
  transform-origin: left bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s; }
.menu.open .bit-1::after {
  top: 0.4em;
  width: 1.2em;
  transform: rotate(-45deg);
  transform-origin: right bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s; }
.menu.open .bit-2 {
  width: 0.3em;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.3s 0.3s, width 0.3s; }
.menu.open .bit-3::before {
  bottom: 0.4em;
  width: 1.2em;
  transform: rotate(-45deg);
  transform-origin: left top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s; }
.menu.open .bit-3::after {
  bottom: 0.4em;
  width: 1.2em;
  transform: rotate(45deg);
  transform-origin: right top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s; }

/*# sourceMappingURL=boba-grid.css.map */
