@font-face {
  font-family: 'SuisseIntl Semi-Bold';
  src: url('SuisseIntl-SemiBold.otf'); /* IE9 Compat Modes */
  src: url('SuisseIntl-SemiBold.otf') format('opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'Verdana Pro Bold';
    src: url('Verdana Pro Bold.otf');
    src: url('Verdana Pro Bold.otf') format('opentype');
}

h1 {
    font-family: "SuisseIntl Semi-Bold", Helvetica, sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: normal;
    color: #202020;
    text-align: center;
    vertical-align: middle;
}

.cta-button {
    text-align: center;
    background-color: #FFFF00;
    height: 60px;
    vertical-align: middle
}

body {
    color: #202020;
    font-family: "Verdana Pro Bold";
    font-size: 18px;
    line-height: 32px;
}
img.logo {
    width: 3em;
    height: 3em;
}
.title {
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 15;
}

.l-content.content {
    margin-top: 6.25%;
}

a {
    text-decoration: none;
}

p {
    line-height: 32px;
    font-weight: 500;
    text-align: center;
    font-family: "New Rail Alphabet";
    font-size: 14px;
}

.grid-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
  background: #ffff00;
}

.menu { 
    transition: all .2s ease-in-out;
    z-index: 15;
}
.menu:hover { transform: scale(1.24); }

.cta-button { transition: all .2s ease-in-out; }
.cta-button:hover { transform: scale(1.24); }

.l-menu-opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32,32,32,0.97);
    z-index: 10;
    display: none;
    transition: all .5s ease-in-out;
}

.menu-list {
    list-style-type: none;
}

.menu-item {
    text-align: center;
    margin: auto;
    margin-top: 24px;
}

.menu-item:hover {
    background: #ffff00;
}

.menu-item a {
    font-family: "SuisseIntl Semi-Bold";
    color: white;
    margin: 24px;
}

.menu-item:hover a{
    color: #202020;
}